@page
@model GESTEMRegistration.Pages.GuideConfirmationModel
@{
}


@*change this info depending on the action - cancellation or registration*@


<div class="text-center">
    <p>Thank you for registering for GESTEM!</p>
    <p>[Placeholder for guide info]</p><br />
</div>


<div>
    <a asp-page="./Index">GESTEM Home</a>
</div>
