@page
@model IndexModel
@{
    ViewData["Title"] = "GESTEM";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GESTEM</h1>
    <p>Society of Women Engineers - Rocky Mountain Section</p>
</div>

